In [1]:
15*6

90

In [2]:
print("eduardo")

eduardo

# CLASE 1
## Python
### PUCP
* Eduardo Cavero
* CCSS - 2025

# Los "Tipos" en Phyton

Los tipos de datos (types) en Python son categorías que definen qué tipo de valor puede almacenar una variable y qué operaciones se pueden realizar con ese valor. Python es un lenguaje de tipado dinámico, lo que significa que no necesitas declarar explícitamente el tipo de una variable.

## Tipos básicos principales:

### Numéricos:

* int - Números enteros (ej: 5, -10, 0)
* float - Números decimales (ej: 3.14, -2.5)
* complex - Números complejos (ej: 3+4j)

### Texto:

str - Cadenas de texto (ej: "Hola", 'Python')

Puede ser con una comilla o dos. Para casos donde querramos poner como texto algo que esta inserto entre dos comillas, tendremos que posicionar una comilla ''.

### Booleanos:

bool - Valores lógicos (True o False)

Esto nos servirá cuando trabajemos con columnas, donde se registre en la memoria de Phyton que, por ejemplo, 1= Mujer y 0 = Varón
En Phyton:
* True = 1
* False = 0

### Secuencias:

* list - Listas mutables (ej: [1, 2, 3])
* tuple - Tuplas inmutables (ej: (1, 2, 3))
* range - Rangos de números

### Mapeo:

dict - Diccionarios (ej: {'nombre': 'Juan', 'edad': 25})

### Conjuntos:

* set - Conjuntos mutables
* frozenset - Conjuntos inmutables

### Otros:

NoneType - Representa la ausencia de valor (None)

¿Para qué sirven?
Los tipos de datos sirven para:

Organizar información de manera lógica
Determinar qué operaciones puedes hacer (no puedes sumar un texto con un número directamente)
Optimizar memoria y rendimiento
Prevenir errores en el código
Facilitar la comprensión del código

Puedes verificar el tipo de cualquier variable usando type():

In [6]:
#Númericos - enteros
z = 200

In [8]:
#Llamamos el valor almacenado en la memoria de Phyton
z

200

In [11]:
#Numéricos flotantes - Incluso si es un 30.0, ya que un flotante es todo numérico en decimales
a = 3.14

In [10]:
a

3.14

In [13]:
#Funciones - Todo codigo acompañado de "()" ya es una función, lo que nos va a ayudar a recordar/crear un output
type (z)

int

In [15]:
type(a)

float

In [29]:
b = "Hola"
type (b)

str

In [20]:
c = True
type (c)

bool

In [25]:
d = '"Hola Edu"'
d

'"Hola Edu"'

In [31]:
d

'"Hola Edu"'

In [33]:
10>15

False

In [35]:
15>5

True

In [37]:
name_1 = "eduardo cavero"
name_2 = "eduardo cvero"

In [ ]:
name_1==name_2
# Con el doble "=" comparamos

In [2]:
tup = (1, 2, 3, 4, 10.8,'pucp', True, False)
tup
#En la tupla puede insertarse cualquier type

(1, 2, 3, 4, 10.8, 'pucp', True, False)

In [9]:
list = [10, 20, "ehd", True]
list
#Una lista nos permite modificar los datos, al ordenarlos con la función sort, y otras

[10, 20, 'ehd', True]

In [12]:
tup[0]
#Vamos a indexar. Es decir, obtener elementos de una tupla que no es modificable. Ojo en Phyton, el orden parte desde "0"
#De estos elementos, podemos formar una lista

1

In [20]:
#Dictionarios
eduardo = { "name": "david", "lastname":"cavero", "age":24, "lugar":"Ayacucho", "male":True }
eduardo

{'name': 'david',
 'lastname': 'cavero',
 'age': 24,
 'lugar': 'Ayacucho',
 'male': True}

In [22]:
type (eduardo)

dict

In [26]:
eduardo.keys()
#Con las llaves podemos identificar los elementos de este diccionario

dict_keys(['name', 'lastname', 'age', 'lugar', 'male'])

In [31]:
eduardo["age"]

24

In [33]:
eduardo.items()

dict_items([('name', 'david'), ('lastname', 'cavero'), ('age', 24), ('lugar', 'Ayacucho'), ('male', True)])

# Numpy
NumPy (Numerical Python) es una biblioteca fundamental de Python para computación científica y análisis de datos. Es la base sobre la que se construyen muchas otras librerías como pandas, matplotlib, scikit-learn, etc.

In [86]:
import numpy as np

In [88]:
p = np.array( [1, 2, 3, 4, 5] )

TypeError: 'list' object is not callable